h1 {
  @apply font-bold text-transparent text-3xl xl:text-5xl 2xl:text-7xl bg-primary-gradient bg-clip-text;
  line-height: 1.5;
}
h2 {
  @apply font-bold text-transparent text-2xl xl:text-4xl 2xl:text-5xl bg-primary-gradient bg-clip-text;
  line-height: 1.5;
}
