.container {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  @media screen and (min-width: 1284px) {
    width: 90%;
  }
  @media screen and (min-width: 1600px) {
    max-width: 1400px;
  }
}

.site-section {
  @apply py-10;
}
