@tailwind base;
@tailwind components;
@tailwind utilities;

@import './partials/colors';
@import './partials/layout';
@import './partials/headings';
@import './partials/button';

html,
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h4 {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, #001116 0%, #001615 100%);
  background-repeat: no-repeat;
}

.blog-card,
.tech-card {
  background: hsl(128deg 62% 75% / 1%);
  box-shadow: 0 8px 32px 0 rgba(12, 240, 73, 0.048);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid hsl(128deg 100% 12%);
}
.blog-card {
  padding: 1rem;
}
