@tailwind base;
@tailwind components;
@tailwind utilities;

@import './partials/colors';
@import './partials/layout';
@import './partials/headings';
@import './partials/button';

html,
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h4 {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-dark-gradient;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .main-menu {
    &.open {
      display: flex;
      position: fixed;
      width: 100vw;
      height: 100vh;
      z-index: 9999;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      background: #000;
      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.glass-card {
  background: hsl(128deg 62% 75% / 1%);
  box-shadow: 0 8px 32px 0 rgba(12, 240, 73, 0.048);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid hsl(128deg 100% 12%);
}
.blog-card {
  padding: 1rem;
}

.job-card {
  padding-left: 2rem;
  &:not(:last-of-type) {
    @apply pb-10;
  }
  &:not(:last-of-type) {
    header {
      z-index: 1;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -3px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        z-index: 0;
        background-color: var(--primary);
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 2px;
      height: 50%;
      background-color: var(--primary);
    }
  }
  &:not(:first-of-type) {
    header {
      z-index: 1;
      &::before {
        content: '';
        position: absolute;
        bottom: 50%;
        left: -3px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        z-index: 0;
        background-color: var(--primary);
      }
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 50%;
      left: 0;
      width: 2px;
      height: 50%;
      background-color: var(--primary);
    }
  }
}

.project-card,
.talk-card {
  &__description {
    background: rgba(0, 20, 19, 0.74);
    box-shadow: 0 8px 32px 0 rgba(12, 240, 73, 0.048);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border-radius: 10px;
    border: 1px solid hsl(128deg 100% 12%);
  }
}

@media screen and (min-width: 1024px) {
  .project-card,
  .talk-card {
    &__image {
      order: 2;
    }
    &__content {
      order: 1;
    }

    &__description {
      background: rgba(0, 20, 19, 0.74);
      box-shadow: 0 8px 32px 0 rgba(12, 240, 73, 0.048);
      backdrop-filter: blur(11.5px);
      -webkit-backdrop-filter: blur(11.5px);
      border-radius: 10px;
      border: 1px solid hsl(128deg 100% 12%);
    }

    &:nth-of-type(2n + 1) {
      .project-card__tech,
      .project-card__links,
      .talk-card__links {
        @apply justify-end;
      }
      .project-card__image {
        order: 1;
      }

      .project-card__content {
        order: 2;
        text-align: right;
      }
    }
  }
}

#bmc-wbtn {
  background: var(--primary-gradient) !important;
}
